<%= link_to 'New Post', new_post_path %>
<div class="row">

<div class="col-md-9">
  <%= render @posts %>
</div>

<div class="col-md-3">
  <%= paginate @posts %>

  <img src="http://vignette2.wikia.nocookie.net/pokemon/images/1/15/007Squirtle_XY_anime.png/revision/latest?cb=20140916184418" class="img-responsive">
</div>
</div>